# Development

.idea/
*.log
*.tmp
.env

# Devcontainer

# This is from the legacy devcontainer config
.devcontainer/data/

# Node

node_modules/
.pnpm-store/
.tanstack/

# Builds

dist/
generated/

# MacOS

.DS_Store

# Docker

docker-compose.yml
docker-compose.yaml
